.catalog-galery-panorama {
    position: relative;
    margin-bottom: 20px;
    @media (min-width:@tablet-size) {
        margin-bottom: 50px;
    }
}

.catalog-card__img-panorama {
    width: 100vw;
    margin: 0;
    height: 140px;
    @media (min-width:@tablet-size) {
        height: 510px;
    }
}

.catalog-card--panorama {
    position: relative;
    top: -10px;
    &::after {
        position: absolute;
        content: "Панорама дня";
        top: -140px;
        right: 0;
        color: @white;
        background-color: @strong-pink;
        padding: 10px 20px;
        .font-style(12px; 24px; bold);
        text-transform: uppercase;
        @media (min-width:@tablet-size) {
            top: -415px;
        }
    }
}

.catalog-card {
    background-color: @light-grey;
    height: 100%;
}

.catalog-card__img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    @media (min-width:@tablet-size) {
        height: 300px;
    }
}

.catalog-card__info {
    background-color: @light-grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px;
    box-sizing: border-box;
    @media (min-width:@tablet-size) {
        height: calc(100% - 300px);
    }
}

.catalog-card__user-name {
    .font-style(14px; 24px; bold);
    width: 100%;
}

.catalog-card__time {
    .font-style(12px; 24px; 300);
    margin: 0;
    text-transform: uppercase;
}

.catalog-card__desc {
    .font-style(14px; 24px; normal);
    margin: 0;
    align-self: top;
    margin-bottom: auto;
    width: 100%;
}

.catalog-card__like {
    .font-style(12px; 24px; normal);
    color: @strong-pink;
    text-transform: uppercase;
    width: 100%;
}

.catalog-galery-basic {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    @media (min-width:@tablet-size) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width:@desktop-size) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
